
.aboutus-row-banner{
    width: 100%;
    height: 90%;
    padding-bottom: 1%;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    padding-top: 2%;
    margin-top: 6% !important;

}


.aboutus-banner-column-1{
    padding-top: 11.2%;
    padding-bottom: 8%;
}


.aboutus-banner-content{
    padding-left: 20%;
    width: 90%;
    }






    .about-input-group{
        width: 25.5rem;
        height: 3.6875rem;
        flex-shrink: 0; 
        border-radius: 0.4375rem;
        background: #669BBC;
      
    }
    
    
    .about-input-form-control {
        width: 25.5rem;
        height: 3.6875rem;
        flex-shrink: 0; 
        border-radius: 0.4375rem !important;
        background: #669BBC !important;
        color: #FFF;
        font-family: Poppins;
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left:8%;
        border: none !important;
    }
    
    .about-input-btn-login {
        width: 5.5625rem;
        height: 2rem; /* Adjusted the height to match the input */
        flex-shrink: 0;
        border-radius:0.375rem !important;
        background: #780000 !important;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #FFF;
        font-family: Poppins;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
        position: absolute;
        top: 78%;
        left: 29%;
        z-index: 1000;
        border: none !important;
    }
    




.sname{
    color: #003049;
    font-family: Abril Fatface;
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
   

}




.s-words{
    color: #780000;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    padding-top: 2%;

}




.aboutus-banner-second-image{
    width: 100%;
    height: 35rem;
    padding-top: 5%;
}

.aboutus-banner-third-image{
    
    width: 100%;
    height: 35rem;
    padding-top: 10%;
    padding-right: 0 !important;
    margin: auto;
   
}








.he-is-risen-banner{
    background-image: url("../assests/Images/Rectangle\ 200.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2%;
    height: 65.25rem;
    width: 100%;
    overflow: hidden;
 }
 
 .second-banner-content{
     padding-top: 25%;
     padding-bottom: 10%;
     margin-left: 12%;
     width: 100%;
 }
 
 .follower{
     color: #003049 !important;
     font-family: Abril Fatface;
     font-size: 4rem;
     font-style: normal;
     font-weight: 400;
     line-height: 5.625rem; /* 140.625% */
     letter-spacing: 0.07681rem;
     width: 70%;
     
 }  
 
 .jesus{
     color: #780000 !important;
     font-family: Abril Fatface;
     font-size: 4rem;
     font-style: normal;
     font-weight: 400;
     line-height: 5.625rem; /* 140.625% */
     letter-spacing: 0.07681rem;
     width: 70%;
 }
 .hir-content-1{
     color: #003049 !important;
     font-family: Poppins;
     font-size: 1.25rem !important;
     font-style: normal;
     font-weight: 400;
     line-height: 1.9rem; /* 120% */
     letter-spacing: 0.024rem;
     width: 60%;
     text-align: left;
     padding-top: 8%;
 }
 
 .hir-content-2{
     color: #003049 !important;
     font-family: Poppins;
     font-size: 1.25rem;
     font-style: italic;
     font-weight: 400;
     line-height: normal;
     text-transform: capitalize;
     width: 60%;
     text-align: left;
 }
 
 .hir-content-3{
     color: #003049 !important;
     font-family: Poppins;
     font-size: 1.25rem;
     font-style: italic;
     font-weight: 400;
     line-height: normal;
     text-transform: capitalize;
     width: 60%;
     text-align: left;
 }

 

 

.saint-rules{
    width: 100%;
    height: 100%;
    background-color: white;
    padding-bottom: 5%;
    padding-top: 5%;
}

.saint-rules h3{
    color: #003049;
    font-family: Abril Fatface;
    font-size: 3.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 5.4375rem */
    margin: auto;
    text-align: center;

}

.saint-rules p{
    color: #003049;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; 
    margin: auto;
    padding-top: 2%;
    width: 90%;
}


.chapters{
    color: #780000;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

.explore-sections{
    height: 76rem;
}

.row-1{
    margin: 0 !important;
    padding: 0 !important;
    height: 25.3rem !important;
}
.row-3 {
    margin: 0 !important;
    padding: 0 !important;
    height: 26rem !important;
}

.row-2{
    margin: 0 !important;
    padding: 0 !important;
    height: 24.9rem !important; 
}

.where-we-are{
    flex-shrink: 0;
    background: #780000;
    margin: 0 !important;
    padding: 0 !important;
}

.where-we-are h3{
    color: #FFF;
    font-family: Abril Fatface;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 4.6875rem */
    width: 53%;
    margin: auto;
    margin-top: 9%;


}

.where-we-are p{
    color: #FFF;
    font-family: Poppins;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 1.6875rem */
    width: 53%;
    margin: auto;
    margin-top: 2%;
    text-align: justify;
}


/* CSS */
.aboutus-learn-more {
    width: 9.8125rem;
    height: 2.88713rem;
    flex-shrink: 0;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 2.025rem */
    background: #669BBC !important;
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.10);
    margin-left: 23%;
    margin-top: 4%;
    border: none;
  }
  
 


  .aboutus-learn-more-1 {
    width: 9.8125rem;
    height: 2.88713rem;
    flex-shrink: 0;
    color: #FFF !important;
    font-family: Poppins !important;
    font-size: 1.125rem !important;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 2.025rem */
    background: #669BBC !important;
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.10);
    margin-left: 7%;
    margin-top: 2%;
    border: none;
  }
 

  .church-img{
    background-image: url("../assests/Images/Rectangle\ 202.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 30rem;
    margin: 0 !important;
    padding: 0 !important;
}

.church-img-1{
    background-image: url("../assests/Images/Rectangle\ 206.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 30rem;
    margin: 0 !important;
    padding: 0 !important;

}


  .saint-img{
    background-image: url("../assests/Images/Rectangle\ 203.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 30rem;  
    margin: 0 !important;
    padding: 0 !important;
  }

  .family{
    background: #003049;
    padding-top: 3% !important;
    height: 30rem;
    margin: 0 !important;
  }

  .family h3{
    color: #FFF;
    font-family: Abril Fatface;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 4.6875rem */
    width: 90%;
    margin: auto;
    margin-top: 4%;
    margin-left: 7%;

  }

  
  .family p{
    color: #FFF;
    font-family: Poppins;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 1.6875rem */
    width: 80%;
    margin-left: 7%;
    margin-top: 2%;
    text-align: justify;
}

.our-links{
    background: #780000;
    margin: 0 !important;
    padding: 0 !important;
    height: 26rem;
}

.our-links h3{
    color: #FFF;
    font-family: Abril Fatface;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 4.6875rem */
    width: 53%;
    margin: auto;
    margin-top: 9%;


}

.our-links p{
    color: #FFF;
    font-family: Poppins;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 1.6875rem */
    width: 53%;
    margin: auto;
    margin-top: 2%;
    text-align: justify;
}


.video-img h3{
    color: #27292E;
    font-family: Abril Fatface;
    font-size: 3.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 5.4375rem */
    width: 60%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 4%;
}

.video-thumbnail{
    width: 100%;
    margin: auto;
    flex: 0;
}
.thumbnail{
    width: 100%;
    margin-top: 3%;
}


.prayer{
    background: #003049;
    max-width: 100%;
    margin-top: 5%;
}



.prayer img{
    margin: 5% 0%;
    width: 100%;
}

.prayer h3{
    color: #FFF;
    font-family: Abril Fatface;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 80%;
    margin-top: 10%;
    padding-left: 4%;
}

.prayer p{
    color: #FFF;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 73%;
    padding-left: 4%;
    padding-top: 5%;
}


.prayer button{
    width: 12.5rem;
    height: 3.375rem;
    flex-shrink: 0;
    border-radius: 0.875rem;
    background: #D9D9D9;

    color: #003049;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 4%;
    margin-top: 3%;
}



.father-imgs{
    margin-top: 6%; 
    margin-bottom: 6%;
   

}


.last-column-image{
    background-image: url("../assests/Images/Rectangle\ 453.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    fill: linear-gradient(0deg, #003049 0%, rgba(0, 48, 73, 0.00) 76%);
    height: 45rem;

    
}



.father-imgs h3{
    color: #ededed;
    font-family: Abril Fatface;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;

    width: 21.03038rem;
    padding-left: 4%;
    padding-right: 4%;
    display: none;
}

.father-imgs p{
    color: #FFF;
    font-family: Poppins;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;

    padding-left: 4%;
    padding-right: 2%;
    padding-bottom: 6%;
    width: 90%;
    display: none;

}





    /* for tablets  */
    @media (min-width: 768px) and (max-width: 1023px) {
    


        
.aboutus-row-banner{
    width: 100%;
    height: 100%;
    padding-bottom: 1%;
    background-color: white;
    overflow: hidden;
    margin-top: 15% !important;

}


.aboutus-banner-column-1{
    padding-top: 15%;
    padding-bottom: 8%;
}


.aboutus-banner-content{
    padding-left:10%;
    width: 100%;
    }






    .about-input-group{
        width: 12.5rem;
        height: 3.6875rem;
        flex-shrink: 0; 
        border-radius: 0.4375rem;
        background: #669BBC;
        border: none;
      
    }
    
    
    .about-input-form-control {
        width: 18.5rem;
        height: 3.6875rem;
        flex-shrink: 0; 
        border-radius: 0.4375rem !important;
        background: #669BBC !important;
        color: #FFF;
        font-family: Poppins;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left:8%;
        border: none !important;
    }
    
    .about-input-btn-login {
        width: 5.5625rem;
        height: 2rem; /* Adjusted the height to match the input */
        flex-shrink: 0;
        border-radius:0.375rem !important;
        background: #780000 !important;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #FFF;
        font-family: Poppins;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
        position: absolute;
        top: 41%;
        left: 28%;
        z-index: 1000;
        border: none !important;
    }
    





.sname{
    font-size: 2rem;
    width: 80%;
   

}




.s-words{
    font-size: 0.9375rem;
    width: 100%;
    padding-top: 2%;

}




.aboutus-banner-second-image{
    width: 23rem;
    height: 28rem;
    padding-top: 5%;
}



.mobile-cards{
    display: none;
}



.second-banner-content{
    padding-top: 6%;
}



.he-is-risen-banner{
    background-image: url("../assests/Images/Rectangle\ 200.png");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 28%;
    margin-bottom: 2%;
    height: 43.25rem;
    width: 100%;
    overflow: hidden;
 }
 

 .follower{
     font-size: 2.725rem;
     line-height: 3.625rem; /* 140.625% */
     letter-spacing: 0.07681rem;
     width: 70%;
     
 }  
 
 .jesus{
     font-size: 2.725rem;
     line-height: 3.625rem; /* 140.625% */
     letter-spacing: 0.07681rem;
     width: 80%;
 }
 .hir-content-1{
     font-size: 1rem !important;
     line-height: 1.5rem; /* 120% */
     width: 80%;
 }
 
 .hir-content-2{
     font-size: 1rem;
     width: 80%;
 }
 
 .hir-content-3{
     font-size: 1rem;
     width: 80%;
     text-align: left;
 }

 

 

.saint-rules{
    padding-bottom: 5%;
    padding-top: 5%;
}

.saint-rules h3{
    font-size: 2.625rem;

}

.saint-rules p{
    font-size: 1.1rem;
    text-align: justify;
}

.explore-sections{
    height: 56rem;
    background-color: black;
}

.row-1{
   
        margin: 0 !important;
        padding: 0 !important;
        height: 18rem !important;
    
}
.row-3 {
    margin: 0 !important;
    padding: 0 !important;
    height: 18rem !important;
}

.row-2{
    margin: 0 !important;
    padding: 0 !important;
    height: 19.9rem !important; 
}


.chapters{
    font-size: 1.1rem;
}

.where-we-are{
    flex-shrink: 0;
    background: #780000;
    margin: 0 !important;
    padding: 0 !important;
    height: 18rem;
}

.where-we-are h3{
    font-size: 2.125rem;
    width: 90%;
    margin-top: 5%;


}

.where-we-are p{
    font-size: 0.75rem;
    width: 90%;
    text-align: justify;
}


/* CSS */
.aboutus-learn-more {
    width: 6.8125rem;
    height: 2.713rem;
    flex-shrink: 0;
    color: #FFF;
    font-family: Poppins;
    font-size: 0.9375rem !important;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 2.025rem */
    background: #669BBC !important;
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.10);
    margin-left: 5%;
    margin-top: 3%;
    border: none;
  }
  
 


  .aboutus-learn-more-1 {
    width: 6.8125rem;
    height: 2.713rem;
    flex-shrink: 0;
    color: #FFF !important;
    font-family: Poppins !important;
    font-size: 0.9375rem !important;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 2.025rem */
    background: #669BBC !important;
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.10);
    margin-left: 8%;
    border: none;
  }

  .church-img{
    background-image: url("../assests/Images/Rectangle\ 202.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 18rem;
    margin: 0 !important;
    padding: 0 !important;
}

.church-img-1{
    background-image: url("../assests/Images/Rectangle\ 206.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40%;
    height: 18rem;
    margin: 0 !important;
    padding: 0 !important;

}


  .saint-img{
    background-image: url("../assests/Images/Rectangle\ 203.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;  
    background-position: 40%;
    margin: 0 !important;
    padding: 0 !important;
  }

  .family{
    height: 20rem;
  }

  .family h3{
    font-size: 1.75rem;
    width: 90%;
    margin-top: 1%;
    margin-left: 7%;

  }

  
  .family p{
    font-size: 0.875rem;
    width: 90%;
    margin-left: 7%;
    margin-top: 2%;
    text-align: justify;
}

.our-links{
    height: 18rem;
}

.our-links h3{
    font-size: 1.75rem;
    line-height: 150%; /* 4.6875rem */
    width: 90%;
    margin: auto;
    margin-top: 9%;


}

.our-links p{
    font-size: 0.75rem;
    width: 90%;
    margin-top: 2%;
    text-align: justify;
}


.video-img h3{
    color: #27292E;
    font-family: Abril Fatface;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 5.4375rem */
    width: 90%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 3%;
}

.video-thumbnail{
    width: 100%;
    margin: auto;
    flex: 0;
}



.prayer{
    background: #003049;
    max-width: 100%;
    margin-top: 5%;
}



.prayer img{
    margin: 5% 0%;
    width: 100%;
    height: 35rem;
}

.prayer h3{
    font-size: 1.5rem;
    width: 90%;
    margin-top: 9%;
    padding-left: 4%;
}

.prayer p{
    font-size: 0.925rem;
    width: 97%;
    padding-left: 4%;
    padding-top: 4%;
}


.prayer button{
    width: 8.5rem;
    height: 2.75rem;

    color: #003049;
    font-family: Poppins;
    font-size: 0.925rem;
    margin-left: 4%;
    margin-top: 3%;
}



.father-imgs{
    margin-top: 5%; 
   

}


.last-column-image{
    background-image: url("../assests/Images/Rectangle\ 453.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    fill: linear-gradient(0deg, #003049 0%, rgba(0, 48, 73, 0.00) 76%);
    height: 21rem;

    
}



.father-imgs h3{
    color: #ededed;
    font-family: Abril Fatface;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;

    width: 21.03038rem;
    padding-left: 4%;
    padding-right: 4%;
    display: none;
}

.father-imgs p{
    color: #FFF;
    font-family: Poppins;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;

    padding-left: 4%;
    padding-right: 2%;
    padding-bottom: 6%;
    width: 90%;
    display: none;

}





    }





        

    /* responsive code for mobile view  */


@media (max-width: 767px) {
    
   
    .aboutus-row-banner{
        width: 100%;
        height: 100%;
        padding-bottom: 1%;
        background-color: white;
        overflow: hidden;
        padding-top: 19%;
    
    }
    
    
    .aboutus-banner-column-1{
        padding-top: 5%;
        padding-bottom: 8%;
    }
    
    
    .aboutus-banner-content{
        padding-left: 2%;
        margin: auto;
        width: 80%;
        text-align: left;
        }
    


        


    .about-input-group{
        width: 16rem;
        height: 3.6875rem;
        flex-shrink: 0; 
        border-radius: 0.4375rem !important;
        background: #669BBC;
      
    }
    
    
    .about-form-control {
        width: 25.5rem;
        height: 3.6875rem;
        flex-shrink: 0; 
        border-radius: 0.4375rem !important;
        background: #669BBC !important;
        color: #FFF;
        font-family: Poppins;
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left:8%;
        border: none !important;
    }
    
    .about-input-btn-login {
        width: 5.5625rem;
        height: 2rem; /* Adjusted the height to match the input */
        flex-shrink: 0;
        border-radius:0.375rem !important;
        background: #780000 !important;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #FFF;
        font-family: Poppins;
        font-size: 0.925rem !important;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
        position: absolute;
        top: 66% !important;
        left: 70%;
        z-index: 1000;
        border: none !important;
    }





        .sname{
            font-size: 3.5rem;
            width: 100%;
            
            
        }
        
        .s-words{
            font-size: 1.1rem;
            width: 100%;
        }
        
    
    
    
    .aboutus-banner-second-image{
     
        display: none;
    }
    
    .aboutus-banner-third-image{
        
        display: none;
       
    }
    
    .mobile-cards{
        display: none;
    }
    
    
    
    .second-banner-content{
        padding-top: 6%;
    }
    
    
    
    .he-is-risen-banner{
        background-position: 30%;
        margin-bottom: 2%;
        height: 25.25rem;
        width: 100%;
        overflow: hidden;
     }
     
     .follower{
        font-size: 1.8rem;
        letter-spacing: 0.024rem;
         width: 80%;
         line-height: 3.625rem; 
         margin: auto;
         text-align: right;
         padding-right: 5%;
         margin-left: 0;
     }  
     
     .jesus{
        font-size: 2rem;
        letter-spacing: 0.024rem;
         width: 80%;
         line-height: 0.625rem; 
         margin: auto;
         text-align: right;
         padding-right: 5%;
         margin-left: 0;
     }
    
    
     .hir-content-1{
        font-size: 0.925rem !important;
         width: 80%;
         text-align: right;
         padding-top: 8%;
         margin: auto;
         margin-left: 0%;
     }
     
     .hir-content-2{
      display: none;
     }
     
     .hir-content-3{
        display: none;
     }
    
     

    
    .saint-rules h3{
        font-size: 1.625rem;
        text-align: center;
    
    }
    
    .saint-rules p{
        font-size: 0.725rem;
        text-align: center;
    }
    
    
    .explore-sections{
        height: 100rem !important;
        background-color: black;
    }

    .row-1{
        margin: 0 !important;
        padding: 0 !important;
        height: 35.3rem !important;
    }
    .row-3 {
        margin: 0 !important;
        padding: 0 !important;
        height: 35 !important;
    }
    
    .row-2{
        margin: 0 !important;
        padding: 0 !important;
        height: 25.9rem !important; 
    }
    
    .chapters{
        font-size: 0.925rem;
    }
    
    .where-we-are{
        flex-shrink: 0;
        background: #780000;
        margin: 0 !important;
        padding: 0 !important;
        height: 18rem;
    }
    
    .where-we-are h3{
        font-size: 2.125rem;
        width: 90%;
        margin-top: 5%;
    
    
    }
    
    .where-we-are p{
        font-size: 0.75rem;
        width: 90%;
        text-align: justify;
    }
    
    
    /* CSS */
    .aboutus-learn-more {
        appearance: button;
        background: #669BBC;
        box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.10);
        border: none;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: Poppins;
        font-size: 0.925rem;
        font-style: normal;
        font-weight: 400;
        line-height: 180%; /* 2.025rem */
        overflow: visible;
        padding: 12px 40px;
        text-align: center;
        text-transform: none;
        touch-action: manipulation;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        margin-left: 5%;
        margin-top: 4%;
        width: 35%;
        height: 15%;
      }
      
      .aboutus-learn-more:focus {
        text-decoration: none;
      }
      
      .aboutus-learn-more:hover {
        text-decoration: none;
      }
      
      .aboutus-learn-more:active {
        box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
        outline: 0;
      }
      
      .aboutus-learn-more:not([disabled]):active {
        box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
        transform: translate(2px, 2px);
      }



      .aboutus-learn-more {
        padding: 12px 50px;
      }



      .aboutus-learn-more-1 {
        appearance: button;
        background: #669BBC;
        box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.10);
        border: none;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: Poppins;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 180%; /* 2.025rem */
        overflow: visible;
        padding: 12px 40px;
        text-align: center;
        text-transform: none;
        touch-action: manipulation;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        margin-left: 7%;
        margin-top: 2%;
        width: 35%;
        height: 15%;

      }
     
    
      .church-img{
        background-image: url("../assests/Images/Rectangle\ 202.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 18rem;
        margin: 0 !important;
        padding: 0 !important;
    }
    
    .church-img-1{
        background-image: url("../assests/Images/Rectangle\ 206.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 40%;
        height: 18rem;
        margin: 0 !important;
        padding: 0 !important;
    
    }
    
    
      .saint-img{
        background-image: url("../assests/Images/Rectangle\ 203.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 18rem;  
        background-position: 40%;
        margin: 0 !important;
        padding: 0 !important;
      }
    
      .family{
        height: 25rem !important;
      }
    
      .family h3{
        font-size: 1.75rem;
        width: 90%;
        margin-top: 4%;
        margin-left: 7%;
    
      }
    
      
      .family p{
        font-size: 0.75rem;
        width: 90%;
        margin-left: 7%;
        margin-top: 2%;
        text-align: justify;
    }
    
    .our-links{
        height: 18rem;
        margin-top: 20% !important;
    }
    
    .our-links h3{
        font-size: 1.75rem;
        line-height: 150%; /* 4.6875rem */
        width: 90%;
        margin: auto;
        margin-top: 9%;
    
    
    }
    
    .our-links p{
        font-size: 0.75rem;
        width: 90%;
        margin-top: 2%;
        text-align: justify;
    }
    
    
    .video-img h3{
        color: #27292E;
        font-family: Abril Fatface;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 5.4375rem */
        width: 100%;
        text-align: center;
        margin: auto;
        margin-top: 15%;
        margin-bottom: 3%;
    }
    
    .video-thumbnail{
        width: 100%;
        margin: auto;
        flex: 0;
    }
    
    
    
    .prayer{
        background: #003049;
        max-width: 100%;
        margin-top: 5%;
        padding-bottom: 3%;
    }
    
    
    
    .prayer img{
        margin: 5% 0%;
        width: 100%;
        height: 20rem;
    }
    
    .prayer h3{
        font-size: 1.5rem;
        width: 90%;
        margin-top: 9%;
        padding-left: 4%;
    }
    
    .prayer p{
        font-size: 0.925rem;
        width: 97%;
        padding-left: 4%;
        padding-top: 4%;
        text-align: justify;
    }
    
    
    .prayer button{
        width: 7.5rem;
        height: 2.5rem;
    
        color: #003049;
        font-family: Poppins;
        font-size: 0.925rem;
        margin-left: 4%;
        margin-top: 3%;
    }
    
    
    
    .father-imgs{
        margin-top: 5%; 
        height: 40rem;
       
    
    }
    
    
    .last-column-image{
        background-image: url("../assests/Images/Rectangle\ 453.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        fill: linear-gradient(0deg, #003049 0%, rgba(0, 48, 73, 0.00) 76%);
        height: 40rem;
        margin: auto;
    
        
    }
    
    
    .mobile-card{
        display: none;
    }
    
    








}